.border_right {
    border-right: 1px solid #333;
}

.form_search {
    max-width: 300px;
    border: 1px solid #459300;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333333;
}

.form_search input {
    color: #459300;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px;
    padding-right: 45px;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.form_search button {
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}

.item_command {
    background: #ebebebbf;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #555555;
}

.item_command .machine_label {
    padding: 5px 10px;
    border-radius: 0 0 5px;
    box-shadow: 1px 1px 3px #555555;
    width: max-content;
}

.color_yellow {
    color: #e5ff00;
}

.command_group_btn .button_command {
    padding: 5px 10px;
    flex: 0 0 50%;
    border-radius: 3px;
}

.main_worker_content {
    padding-bottom: 65px;
    position: relative;
}

.group_btn_worker_form {
    position: fixed;
    bottom: 45px;
    left: 0;
    width: 100%;
    background: #cfcdcd;
    padding: 5px 15px;
}

/* table salary style */

.worker_salary_table table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%; 
    table-layout: fixed;
}

.worker_salary_table table caption {
    font-size: 18px;
}

.worker_salary_table table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.worker_salary_table table th,
.worker_salary_table table td {
    padding: .625em;
    text-align: center;
}

.worker_salary_table table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.command_item_info{
    height: 220px;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .min_210{
        min-width: 140px;
    }
    .worker_salary_table table {
        border: 0;
    }

    .worker_salary_table table caption {
        font-size: 1.3em;
    }

    .worker_salary_table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .worker_salary_table table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .worker_salary_table table td {
        border-bottom: 1px solid #ddd;
        font-size: .8em;
        display: flex;
        justify-content: space-between;
    }

    .worker_salary_table table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        width: 110;
        text-align: left;
    }

    .worker_salary_table table td:last-child {
        border-bottom: 0;
    }
}