.quote_handle_title{
    max-width: 868px;
    font-weight: 800;
}

.quote_supp_item{
    position: relative;
}

.quote_pro_nav_link{
    position: sticky;
    top: 55px;
    z-index: 1;
    background: #f9f9f9;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333333;
}

.quote_pro_strct_nav_link{
    position: sticky;
    top: 100px;
    z-index: 1;
    background: #ececec;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333333;
}

.remove_ext_element_quote{
    position: absolute;
    padding: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #333333;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.remove_ext_element_quote.remove_ff_quote {
    width: 25px;
    height: 25px;
    border-radius: 0;
    box-shadow: none;
    right: -20px;
    top: -5px;
}

.height_input{
    margin-bottom: 20.61px;
}

ul.list_supplies li.supply_item{
    margin: 0 -10px;
    border-bottom: 3px solid #459300;
    padding: 5px 10px;
    min-width: 200px;
}

ul.list_supplies li.supply_item:last-child{
    border: none;
}

ul.supply_info li.supply_item_inf{
    padding: 2px 0;
    margin: 2px 0;
    border-bottom: 1px solid #ebebeb;
}

ul.supply_info li.supply_item_inf:last-child{
    border:none;
}

.quote_table_stage{
    overflow: auto;
    max-height: calc(100vh - 350px);
}

.quote_total_cost{
    padding: 5px 10px;
    background: #ebebeb;
    text-align: center;
    position: sticky;
    bottom: 45px;
}

.quote_table_stage .table thead{
    position: sticky;
    top: -1px;
    background: #f1f4f9;
    z-index: 1;
}

.detail_quote_supply_item{
    position: fixed;
    top: 50%;
    left: 230px;
    right: 175px;
    background: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #333333;
    z-index: 1;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    height: calc(100vh - 120px);
    overflow: auto;
}

ul.supply_info li.supply_item_inf>.detail_quote_supply_item.hover{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.list_stage_supply{
    border-left: 1px solid #333;
}

.list_stage_supply li{
    border-bottom: 1px solid #333;    
}


.border_right_dashed{
	border-right: 2px dashed #333333;
}

.header_quote{
	border-bottom: 1px solid #ff1313;
}

.quote_content{
	font-family: auto;
}

.quote_content .table thead th{
	border: 1px solid #333333;
}

.quote_content table td, .quote_content table th{
	border: 1px solid #333333;
	vertical-align: middle;
}

.table_style{
    padding: 5px 10px !important;
    border: 1px solid #333333 !important;
}

.max_content{
	max-width: 350px;
}

.quote_content .table-striped tbody tr:nth-of-type(odd){
	background-color: rgb(0 0 0 / 0%);
}

.border_grey{
	border: 1px solid #333333;
	border-top: none;
}

.font_bold{
	font-weight: 600;
}

.quote_model {
    font-weight: normal;
    background: #ffffff;
    max-width: 1200px;
    margin: auto;
}

.quote_bg_content{
	position: relative;
	z-index: 1;
}

.footer_quote_img{
	position: absolute;
	bottom:55px;
	left: 0;
    width: 100%;
}

.border_bot{
	border-bottom: 1px solid #888888;
}

.table td, .table th{
	padding: 5px;
	min-width: 85px;
}

.bg_quote{
	position: absolute;
    top: 50%;
    left: 0%;
    z-index: 0;
    opacity: 0.3;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.footer_quote {
    padding-bottom: 400px;
}

.quote_logo img{
    max-width: 200px;
}

@page {
    size: A4;
    margin: 1cm;
}
@media print {
    html, body {
        width: 100%;
      width: 210mm;
      height: 297mm;
      position: relative;
    }
}
.page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}