a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

.select2.select2-container.select2-container--default,
.form-control{
    max-width: 350px;
}

.smooth{
    transition: all .2s;
}

body, html {
    font-size: 13px;
    height: 100%;
    color: #333;
    font-weight: 600;
}
.select2-container--default .select2-selection--single {
    height: 30px;
}
.select2.select2-container.select2-container--default {
    width: 100% !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #adadad;
}
.main_login {
    height: 100vh;
}

.form_login_content {
    padding: 20px;
    box-shadow: 5px 5px 20px #c8c8c8;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
}

.border_top {
    border-top: 1px solid #333;
}

.border_top_thin{
    border-top: 3px solid #333;
}

.color_main {
    color: #333;
}

.border_main {
    border: 1px solid #333;
}

.border_bot {
    border-bottom: 1px solid #333;
}

.bg_main {
    background: #333;
}

body {
    --anim: 250ms ease-in-out;
    --toggle-font-size: 2em;
}

input[type="checkbox"].toggle {
    font-size: var(--toggle-font-size);
    appearance: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 44px;
}

.border_bot_eb {
    border-bottom: 1px solid #ebebeb;
}

.border_top_eb {
    border-top: 1px solid #ebebeb;
}

input[type="checkbox"].toggle + label {
    font-size: var(--toggle-font-size);
    vertical-align: bottom;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible {
    outline: none;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible::before {
    outline: 0.25rem solid hsl(0, 0%, 45%);
}

input[type="checkbox"].toggle::before {
    content: "";
    width: 44px;
    height: 22px;
    background-color: hsl(0, 80%, 90%);
    border-radius: 1em;
}

input[type="checkbox"].toggle::after {
    content: "\2715";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 22px;
    height: 22px;
    left: -1px;
    border-radius: 1em;
    background-color: hsl(0, 80%, 60%);
    color: white;
    transition: transform var(--anim), background-color var(--anim);
}

input[type="checkbox"].toggle:checked::after {
    content: "\2713";
    transform: translateX(100%);
    background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:checked::before {
    background-color: hsl(100, 70%, 80%);
}

/* disabled states */
input[type="checkbox"].toggle:disabled,
input[type="checkbox"].toggle:disabled + label {
    color: #777;
    cursor: not-allowed;
}

input[type="checkbox"].toggle:disabled::before {
    background-color: #ccc;
}

input[type="checkbox"].toggle:disabled::after {
    background-color: #777;
}

.radius_5 {
    border-radius: 5px;
}

.login_logo img {
    max-height: 75px;
}

.main_button{
    padding: 5px 10px;
    box-shadow: 1px 1px 3px #777;
}

.login_button:hover{
    background: none;
    color: #333;
}

.red_button {
    background: #ff0000;
    border: 1px solid #ff0000;
}

.header {
    height: 55px;
    padding: 5px;
    box-shadow: 1px 1px 3px #888888;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    background: #f1f4f9;
}

.header_logo img{
    max-height: 50px;
    object-fit: contain;
}

.header_menu_user img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid;
    border-radius: 50%;
    margin: 1px;;
}

.header_menu_user_list{
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 5px;
}

.header_menu_user_list li a{
    padding: 5px;
    color: #ffffff;
    background: #333;
    display: block;
    border-bottom: 1px solid;
    font-weight: 600;
    transition: all .2s;
}

.header_menu_user_list li:first-child a{
    border-top: none;
}

.header_menu_user_list li:hover>a{
    background: #ffffff;
    color: #333;
}

.sidebar{
    position: fixed;
    z-index: 1;
    top: 57px;
    left: 0;
    bottom: 0;
    height: calc(100vh - 55px);
    overflow: auto;
    background: #f1f4f9;
    font-weight: 600;
    width: 210px;
    box-shadow: 3px 0px 4px #888888;;
}

.sidebar ul li a{
    display: block;
    font-weight: 600;
    color: #333;
    padding: 5px 10px;
    border-bottom: 1px solid;
    text-transform: capitalize;
    transition: all .2s;
}

.sidebar>ul>li:last-child>a{
    border-bottom: none;
}

.sidebar ul li{
    position: relative;
}

.sidebar ul li i{
    position: absolute;
    right: 5px;
    top: 8px;
}

.sidebar ul li>a:hover{
    background: #459300;
    color: #ffffff;
    border-color: #459300;
}

.bg_green{
    background: #459300;   
}

.border_green{
    border: 1px solid #459300;
}

.sidebar>ul>li.active>a, .sidebar li>ul>li.active>a{
    background: #459300;
    color: #ffffff;
    border-color: #459300;
}

.sidebar li ul:has(> li.active){
    display: block;
}

.sidebar li ul li a{
    padding-left: 20px;
    background: #ffffff;
}

.sidebar li ul {
    display: none;
}

.basse_content{
    padding-top: 70px;
    padding-left: 210px;
    background-color: #f9f9f9;
    height: 100%;
}

.command_icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    padding: 3px;
    transform: rotate(0deg);
    transition: all .3s;
}

.command_icon:hover{
    transform: rotate(360deg);
}

.page_content{
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888;
}

.main_button:hover{
    background: none;
    color: #333;
}

.red_btn{
    border: 1px solid #ff0000;
}

.red_btn:hover{
    background: none;
    color: #ff0000;
}

@page {
    size: A4;
    margin: 1cm;
}
@media print {
    html,
    body {
        width: 100%;
        width: 210mm;
        height: 297mm;
        position: relative;
    }
}
.page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}

.min_150{
    min-width: 150px;
}

@media (max-width: 1400px) {
    body, html {
        font-size: 12px;
    }

    .fs-13{
        font-size: 12px;
    }
}

