a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    transition: all .2s;
  }
  
a:hover{
    color: #459300;
}
  
.header {
    height: 55px;
    padding: 5px;
    box-shadow: 1px 1px 3px #888888;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    background: #f1f4f9;
}

.header_logo img{
    max-height: 50px;
    object-fit: contain;
}

.header_menu_user img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid;
    border-radius: 50%;
    margin: 1px;;
}

.header_menu_user_list{
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 5px;
}

.header_menu_user_list li a{
    padding: 5px;
    color: #ffffff;
    background: #333;
    display: block;
    border-bottom: 1px solid;
    font-weight: 600;
    transition: all .2s;
}

.header_menu_user_list li:first-child a{
    border-top: none;
}

.header_menu_user_list li:hover>a{
    background: #ffffff;
    color: #333;
}

.sidebar{
    position: fixed;
    z-index: 1;
    top: 57px;
    left: 0;
    bottom: 0;
    height: calc(100vh - 55px);
    overflow: auto;
    background: #f1f4f9;
    font-weight: 600;
    width: 210px;
    box-shadow: 3px 0px 4px #888888;;
}

.sidebar ul li a{
    display: block;
    padding: 5px 10px;
    font-weight: 600;
}

.sidebar>ul>li:last-child>a{
    border-bottom: none;
}

.sidebar ul li{
    position: relative;
    margin-top: 1px;
}

.sidebar ul li i{
    position: absolute;
    right: 5px;
    top: 8px;
    color: #ffffff;
}

.sidebar ul li>a:hover{
    background: #459300;
    color: #ffffff;
    border-color: #459300;
}

.bg_green{
    background: #459300;   
}

.border_green{
    border: 1px solid #459300;
}

.sidebar>ul>li.active>a, .sidebar li>ul>li.active>a{
    background: #65d303;
    color: #ffffff;
    border-color: #65d303;
}

.sidebar li ul:has(> li.active){
    display: block;
}

.sidebar>ul>li>a{
    margin: 5px 0;
    margin-left: 10px;
    background: #459300;
    color: #ffffff;
    border-radius: 10px 0 0 10px
}

.w_120{
    width: 120px;
    min-width: 120px;
}

.sidebar li ul li a{
    color: #333;
    text-transform: capitalize;
    transition: all .2s;
    background: #ffffff;
    margin-left: 30px;
    border-radius: 10px 0 0 10px;
    margin-bottom: 2px;
}

.sidebar li ul li:last-child>a{
    border-bottom: none;
}

.sidebar li ul {
    display: none;
}

a.device_supp_item {
    padding: 5px 15px;
    margin: 10px;
    background: #ebebeb;
    font-weight: 600;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 1px 1px 3px #777777;
}

.breadcrumb_section {
    position: sticky;
    top: 55px;
    z-index: 1;
}

.pagination{
    z-index: 0;
}

.base_content{
    padding-top: 70px;
    padding-left: 210px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
}

.dropdown-menu.show{
    box-shadow: 3px 3px 6px #777;
}

.command_icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    padding: 3px;
    transform: rotate(0deg);
    transition: all .3s;
}

.command_icon:hover{
    transform: rotate(360deg);
}

.list_table_func>a, .list_table_func>button{
    color: #ffffff;
    padding: 0;
    display: flex;
    width: 23px;
    height: 23px;
    justify-content: center;
    align-items: center;
    background: #459300;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #555;
}

.list_table_func>button.bg_red{
    background: #ff0000;
    border: none;
}

.header_chose_supp_device{
    padding: 15px;
    background: #f1f4f9;
    border-radius: 10px;
}

.page_content .table td, .page_content .table th{
    padding: 5px 10px;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

.handle_title{
    max-width: 868px;
    font-weight: 800;
}

.pro_nav_link{
    position: sticky;
    top: 95px;
    z-index: 1;
    background: #f9f9f9;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333333;
}

.page_content .table td{
    font-weight: normal;
}

.page_content .table th{
    text-align: center;
}

.page_content .table.table_main tr td:first-child, 
.page_content .table.table_main tr th.parentth:first-child{
    min-width: auto;
    position: sticky;
    left: -1px;
    background: #f1f4f9;
    color: #459300;
}

.page_content .table.table_main tr td:last-child, 
.page_content .table.table_main tr th.parentth:last-child{
    min-width: auto;
    position: sticky;
    right: -1px;
    background: #f1f4f9;
    color: #459300;
}



.table_base_view .w_max_content{
    width: max-content;
    max-width: 220px;
}

.linking_table{
    width: max-content;
    max-width: 220px;
    margin: auto;
}

.table_base_view {
    overflow: auto;
    box-shadow: 1px 1px 10px #888888;
}

.base_table_form_search .form-control, .base_table_form_search .select2-container{
    max-width: 294px;   
}

.notify_style{
    animation-name: tada;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
    background: #d50202;
    width: 35px;
    margin: auto;
    -webkit-text-fill-color: #ffffff;
    border-radius: 50%;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #459300;
    content: "\f105";
    font-family: 'FontAwesome';
}

@page {
    size: A4;
    margin: 1cm;
}
@media print {
    html,
    body {
        width: 100%;
        width: 210mm;
        height: 297mm;
        position: relative;
    }
}
.page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}

.min_210{
    min-width: 210px;
}

@media (max-width: 1400px) {
    body, html {
        font-size: 12px;
    }

    .fs-13, .nav-pills .nav-link{
        font-size: 12px;
    }
}

