a {
  color: #000020;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

body, html {
  font-size: 14px;
  height: 100%;
  background: #f1f4f9;
}

.siderbar-menu__lnk:hover i {
  color: #04aaa1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000050;
}

.menu_item_btn {
  position: absolute;
  right: 11px;
}

.header-logo_lnk img {
  max-height: 45px;
}

.siderbar_child {
  display: none;
}

.siderbar_child li a {
  display: block;
  padding: 10px 10px;
  padding-left: 20px;
  background: #000332;
  color: #ffffff;
  border-bottom: 1px solid #010f6a;
  transition: all .3s;
}

.siderbar_child li:hover a {
  background: #000020;
}

.siderbar_child li:last-child a {
  border-bottom: none;
}

.main_login {
  height: 100vh;
}

.form_login_content {
  padding: 20px;
  box-shadow: 5px 5px 20px;
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
}

.border_top {
  border-top: 1px solid #000020;
}

.color_main {
  color: #000020;
}

.border_main{
  border: 1px solid #000020;
}

.border_bot{
  border-bottom: 1px solid #000020;
}

.bg_main{
  background: #000020;
}

.img_table_field {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.img_table_field img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  --anim: 250ms ease-in-out;
  --toggle-font-size: 2em;
}

input[type="checkbox"].toggle {
  font-size: var(--toggle-font-size);
  appearance: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.min_150{
  min-width: 150px;
}

.border_bot_eb{
  border-bottom: 1px solid #ebebeb;
}

.border_top_eb{
  border-top: 1px solid #ebebeb;
}

input[type="checkbox"].toggle + label {
  font-size: var(--toggle-font-size);
  vertical-align: bottom;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible {
  outline: none;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible::before {
  outline: 0.25rem solid hsl(0, 0%, 45%);
}

input[type="checkbox"].toggle::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
}

input[type="checkbox"].toggle::after {
  content: "\2715";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 1.8em;
  height: 1.8em;
  left: -1px;
  border-radius: 1em;
  background-color: hsl(0, 80%, 60%);
  color: white;
  transition: transform var(--anim), background-color var(--anim);
}

input[type="checkbox"].toggle:checked::after {
  content: "\2713";
  transform: translateX(100%);
  background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:checked::before {
  background-color: hsl(100, 70%, 80%);
}

/* disabled states */
input[type="checkbox"].toggle:disabled, input[type="checkbox"].toggle:disabled + label {
  color: #777;
  cursor: not-allowed;
}

input[type="checkbox"].toggle:disabled::before {
  background-color: #ccc;
}

input[type="checkbox"].toggle:disabled::after {
  background-color: #777;
}

.nav-tabs .nav-item:first-child .nav-link{
  border-left: none;
}

select.form-control:not([size]):not([multiple]),
.station-richmenu-main-search__set{
  height: 35px;
}

.group_btn_action_form{
  position: sticky;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: #cfcfcf;
  padding: 15px;
  margin-top: 30px;
  z-index: 2;
}

.img_show img{
  max-width: 100px;
  max-height: 100px;
}

.header-menu-user__avatar img{
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.table td, .table th{
  max-width: 275px;
}

.radius_5{
  border-radius: 5px;
}

.item_menu {
  background: #000077;
  width: 100%;
}

.list_menu{
  width: max-content;
  overflow: hidden;
}

.w_250{
  width: 250px;
}

.limit_line_1{
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.view_menu_content{
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #ffffff;
}

.mce-window.mce-in{
  z-index: 1049 !important;
}

#mce-modal-block.mce-in{
  z-index: 1048 !important;
}

.multi_select_view{
  padding: 10px;
  background: #ebebeb;
  border-radius: 5px;
}

.multi_select_view input.multi_check{
  width: 15px;
  height: 15px;
}

.font_bold{
  font-weight: 600;
}

.border_bot_main{
  border-bottom: 1px solid #000020;
}

.not_seen{
  background: #f300001f;
  position: relative;
}

.not_seen:after{
  position: absolute;
  content: '\f111';
  font-family: 'fontAwesome';
  right: 30px;
  top: 30px;
  color: #000020;
}

.login_logo img{
  width: 100%;
}

.page-item.active .page-link{
  background-color: #000020;
  border-color: #000020;
}

.upload_input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.red_button{
  background: #ff0000;
  border: 1px solid #ff0000;
}



/*quote_style*/
.iframe_action_view{
  height: calc(100vh - 100px)
}

.group_btn_action_form.popup {
  position: fixed;
  left: 0;
  text-align: right;
  padding: 5px;
  text-align: center;
}

.close_action_popup{
  position: absolute;
  right: -20px;
  top: -20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d30000;
  z-index: 2;
  border-radius: 50%;
  background: #d30000;
  opacity: 1;
  color: #ffffff;
}

.label_quotes{
  min-width: 150px;
}

.bg_grey{
  background: #f1f4f9;
}

.incredent_content{
  display: none;
}

.checkbox_configs{
  width: 17px;
  height: 17px;
}

.input_add{
  display: none;
}

select.form-control:not([size]):not([multiple]){
  height: 32px;
}

@media (min-width: 576px){
  .guideModal .modal-dialog {
      max-width: 725px;
  }

  .modalAction .modal-dialog {
    max-width: 1200px;
  }
}

@media (max-width: 1400px){
  body, .station-richmenu-main-btn-area, .siderbar-menu__lnk, .form-control, .fs-15{
    font-size: 13px;
  }
}