ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cursor_pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

button {
    cursor: pointer;
    border: none;
}

button,
a,
input,
select,
textarea {
    outline: none !important;
}

p {
    padding: 0;
    margin: 0;
}

textarea {
    min-height: 110px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: unset;
    line-height: unset;
}

.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-33 {
    font-size: 33px;
}

.fs-39 {
    font-size: 39px;
}

.fs-40 {
    font-size: 40px;
}

.fs-45 {
    font-size: 45px;
}

.fs-80 {
    font-size: 80px;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

.z-9 {
    z-index: 9;
}

.z-10 {
    z-index: 10;
}

.color_white {
    color: #ffffff;
}

.color_red {
    color: #ff0000;
}

.bg_white {
    background: #ffffff;
}

.bg_red {
    background: #ff4646;
}

.bg_eb {
    background: #ebebeb;
}

.bg_black {
    background: #000000;
}

.bg_none {
    background: none;
}

.font_bold {
    font-weight: 700 !important;
}

.row-7 {
    margin-left: -7px;
    margin-right: -7px;
}

.row-7>div {
    padding-left: 7px;
    padding-right: 7px;
}

.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row-5>div {
    padding-left: 5px;
    padding-right: 5px;
}

.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-10>div {
    padding-left: 10px;
    padding-right: 10px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_20 {
    margin-bottom: 20px;
}

.color_gray {
    color: #888888;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    max-width: 250px;
}

.bg_white {
    background: #ffffff;
}

.c-img {
    display: block;
    position: relative;
    padding-top: 100%;
}

.c-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.border_right_white {
    border-right: 1px solid #ffffff;
}

.disable_field {
    pointer-events: none;
    background: #686868;
    color: #ffffff;
}

.overflow_hidden {
    overflow: hidden;
}


.modalAction.modal .modal-dialog {
    max-width: 97%;
}

.medium_popup .modalAction.modal .modal-dialog{
    max-width: 55%;
}

.small_popup .modalAction.modal .modal-dialog{
    max-width: 35%;
}

.medium_popup .modalAction.modal iframe{
    height: calc(100vh - 200px);
}

.small_popup .modalAction.modal iframe{
    height: calc(100vh - 275px);
}

.modalAction .close_action_popup {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border: 1px solid #e00202;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #333333;
    background: #e00202;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.modalAction iframe {
    height: calc(100vh - 80px);
}

/* style base content */
/* .config_content .select2.select2-container.select2-container--default, */
.config_content .form-control,
.config_content .btn-group,
.btn-group-vertical,
.config_content .multiselect-container {
    max-width: 330px;
    min-width: 330px;
    width: 330px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 5px 10px;
    font-size: 12px;
    background: #419512;
    color: #fff;
    white-space: normal;
    border: 1px solid #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear{
    font-size: 15px;
    background: #fa5049;
    color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #ffa0a0;
    font-size: 13px;
    margin-right: 5px;
}

.form-control.short_input {
    max-width: 102px;
    min-width: 102px;
    width: 102px
}

.text-center > .form-control{
    margin-left: auto;
    margin-right: auto;
}

textarea.form-control.short_field{
    min-height: 55px;
}

.form-control.tiny_input {
    max-width: 180px;
    min-width: 180px;
    width: 180px
}

.form-control.price_input {
    max-width: 150px;
    min-width: 150px;
    width: 150px
}

.config_content .form-control.length_input {
    max-width: 750px;
    min-width: 750px;
    width: 750px
}

select[readonly] {
    pointer-events: none;
}

.border-none{
    border: none !important;
}

select[readonly].select2-hidden-accessible+.select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
    display: none;
}

.select2-container.select2-container-disabled .select2-choice {
    background-color: #ddd;
    border-color: #a8a8a8;
}

.config_content .medium_input .select2.select2-container.select2-container--default,
.config_content .medium_input .btn-group,
.btn-group-vertical,
.config_content .medium_input .multiselect-container,
.config_content .form-control.medium_input {
    max-width: 170px;
    min-width: 170px;
    width: 170px
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #459300;
}

.nav-pills .nav-link {
    color: #333;
    font-weight: 600;
}

.nav-pills .nav-link.green_stage {
    color: #459300;
}

.nav-pills .nav-link.green_stage.active {
    color: #ffffff;
}

.smooth {
    transition: all .2s;
}

body,
html {
    font-size: 13px;
    height: 100%;
    color: #333;
    font-weight: 600;
}

.select2-container--default .select2-selection--single {
    height: 31.5px;
}

/* .select2.select2-container.select2-container--default {
    width: 100% !important;
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #459300;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #72f500;
}

.main_login {
    height: 100vh;
    background: #f1f4f9;
}

.form_login_content {
    padding: 20px;
    box-shadow: 5px 5px 20px #c8c8c8;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
}

.border_top {
    border-top: 1px solid #333;
}

.border_top_thin {
    border-top: 3px solid #333;
}

.color_main {
    color: #333;
}

.color_green {
    color: #459300;
}

.color_red {
    color: #d50202;
    -webkit-text-fill-color: #d50202;
}

.min_120 {
    min-width: 120px;
}

.border_main {
    border: 1px solid #333;
}

.border_bot {
    border-bottom: 1px solid #333;
}

.bg_main {
    background: #333;
}

body {
    --anim: 250ms ease-in-out;
    --toggle-font-size: 2em;
}

input[type="checkbox"].toggle {
    font-size: var(--toggle-font-size);
    appearance: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 44px;
}

.border_eb {
    border: 1px solid #ebebeb;
}

.border_bot_eb {
    border-bottom: 1px solid #ebebeb;
}

.border_top_eb {
    border-top: 1px solid #ebebeb;
}

.border_top_white {
    border-top: 1px solid #ffffff;
}

.w_50 {
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
}

.w_220 {
    width: 220px !important;
    min-width: 220px !important;
    max-width: 220px !important;
}

input[type="checkbox"].toggle+label {
    font-size: var(--toggle-font-size);
    vertical-align: bottom;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible {
    outline: none;
}

input[type="checkbox"].toggle:not(:disabled):focus-visible::before {
    outline: 0.25rem solid hsl(0, 0%, 45%);
}

input[type="checkbox"].toggle::before {
    content: "";
    width: 44px;
    height: 22px;
    background-color: hsl(0, 80%, 90%);
    border-radius: 1em;
}

input[type="checkbox"].toggle::after {
    content: "\2715";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 22px;
    height: 22px;
    left: -1px;
    border-radius: 1em;
    background-color: hsl(0, 80%, 60%);
    color: white;
    transition: transform var(--anim), background-color var(--anim);
}

input[type="checkbox"].toggle:checked::after {
    content: "\2713";
    transform: translateX(100%);
    background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:checked::before {
    background-color: hsl(100, 70%, 80%);
}

/* disabled states */
input[type="checkbox"].toggle:disabled,
input[type="checkbox"].toggle:disabled+label {
    color: #777;
    cursor: not-allowed;
}

input[type="checkbox"].toggle:disabled::before {
    background-color: #ccc;
}

input[type="checkbox"].toggle:disabled::after {
    background-color: #777;
}

.radius_5 {
    border-radius: 5px;
}

.login_logo img {
    max-height: 75px;
}

.main_button {
    padding: 5px 10px;
    box-shadow: 1px 1px 3px #777;
    border: 1px solid;
    text-transform: capitalize;
    width: max-content;
}

.login_button:hover {
    background: none;
    color: #333;
}

.red_button {
    background: #ff0000;
    border: 1px solid #ff0000;
}

.page_content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888;
    padding-top: 0;
}

.title_page_content {
    padding: 10px 15px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%) rgb(242, 242, 242);
    border-radius: 10px 10px 0 0;
}


.main_button:hover {
    background: none;
    color: #459300;
}

.red_btn {
    border: 1px solid #ff0000;
}

.red_btn:hover {
    background: none;
    color: #ff0000;
}

.max_150 {
    max-width: 150px;
}

.group_btn_action_form {
    position: fixed;
    width: calc(100% - 210px);
    bottom: 0;
    right: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f4f9;
    z-index: 2;
}

.form-control.readonly {
    pointer-events: none;
    background: #f1f1f1;
}

.upload_input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.__file_preview {
    width: 150px;
}

.stt_bg_green {
    background: #65d303;
    color: #ffffff;
}

.stt_bg_red {
    background: #d50202;
    color: #ffffff;
}

.stt_bg_blue {
    background: #00bf99;
    color: #ffffff;
}

.bg_grey {
    background: #ebebeb;
}

.box_shadow_3 {
    box-shadow: 1px 1px 3px #333;
}

.min_150 {
    min-width: 150px;
}

.mb_10{
    margin-bottom: 10px;
}

.font_auto{
    font-family: auto;
}

.__tiny_btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


@media (max-width: 992px) {
    .medium_popup .modalAction.modal .modal-dialog, .small_popup .modalAction.modal .modal-dialog{
        max-width: 97%;
    }
}

@media (min-width: 992px) {
    .col_lg_5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}